ul {
    list-style-type: none;
   
}
.search-box {
    position: absolute;
    top: 35%;
    left: 50%;
    
    padding: 30px;
    margin: 50px ;
    transform: translate(-50%, -55%);
    background: #867070;
    box-sizing: border-box;
    box-shadow: 0 15px 25px #b09a9a;
    border-radius: 10px;
    
  }
 
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  select,
  textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
  }

  button[type="submit"] {
    background-color: #576c84;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  button[type="submit"]:hover {
    background-color: #727e8b;
  }
  .b{
    background-color: #576c84;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    margin:20px;
    width: 200px;
    top:50px;
  }
  .b:hover {
    background-color: #727e8b;
  }
.table{

font-size:medium;
  }
  .col-md-8{
    text-align: center;
    display: block;
    

  }
  .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }
  .c{
    height: 100vh;
    
    width: 280px;
    font-size: larger;
    padding-top: 50px;
    position: fixed;
    padding-top :100px;
    cursor:pointer;
    
  
    font-weight: 500;
    transition: width 0.3s ease-in-out;
  }
li{
  margin: 0px;
  margin-left: 15px;
  padding : 0px;
}

a.nav-link:hover{
background-color: #727e8b;
border-radius: 10px;
margin-right:5px;
}
a:hover{
  background-color: #727e8b;
}
a:focus{
  background-color: #727e8b;
}
.btn:focus{
  box-shadow: none !important;
}
ul{
  padding:0px !important;
}
.content {
  margin-left: 300px;
  padding: 20px;
}
.row{
  display: flex;
  
}


.item2 {
  position: absolute;
  top: 0;
  left: 0;
}


svg{
  width: 35px;
  height: 35px;
  margin-top: 20px;
  
  cursor:pointer;
}
svg:hover{
  background-color: #727e8b;
  border-radius:10px;
  
}
.p-3 {
  padding: 50px !important;
}
.collapse {
  transition: height 0.3s ease;
}
.input-field {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px;
  border-radius: 0px;
  margin: 0;
}
.input-field:focus{
  border: none;
}
.after{
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-color: #576c84;
}
td{
  padding:2px !important;
}
.cur{
  cursor: pointer;
}
tr{
  resize: horizontal; /* allow vertical resizing */
  overflow: auto; /* show scrollbar if content overflows */
}
th:hover{
  background-color: #576c84;
}


#item1 {
  width: 280px; /* initial width */
  transition: width 0.5s ease-in-out; /* transition on width property */
}
#item1.collapsed {
  width: 0px; /* collapsed width */
}
.item2 {
  position: absolute;
  width: 50px; /* initial width */
  transition: width 0.5s ease-in-out; /* transition on width property */
}
.item2.collapsed {
  width: 0; /* collapsed width */
}
#text.collapsed {
  display: none;
}
#content {
  transition: margin-left 0.5s ease-in-out; /* transition on margin-left property */
}
#content.collapsed {
  margin-left: 50px; /* move content to the left when collapsed */
}
.item2 button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}