@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
ul {
    list-style-type: none;
   
}
body{
  
  background-color: #f4f4f4 !important;
}
h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3.5rem !important;
  color: #444;

 }
.search-box {
    position: absolute;
    top: 35%;
    left: 50%;
    
    padding: 30px;
    margin: 50px ;
    transform: translate(-50%, -55%);
    background: #867070;
    box-sizing: border-box;
    box-shadow: 0 15px 25px #b09a9a;
    border-radius: 10px;
    
  }
 
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="time"],
  select,
  textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
    height: 40px;
  }

  button[type="submit"],.st{
    background-color: #576c84;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  button[type="submit"]:hover {
    background-color: #727e8b;
  }
  .st:hover {
    background-color: #727e8b;
  }
  .b{
    background-color: #576c84;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    margin:20px;
    width: 200px;
    top:50px;
  }
  .b:hover {
    background-color: #727e8b;
  }
.table{

font-size:medium;
  }
  .col-md-8{
    text-align: center;
    display: block;
    

  }
  .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }
  .c{
    height: 100vh;
    
    width: 280px;
    font-size: larger;
    padding-top: 50px;
    position: fixed;
    padding-top :100px;
    cursor:pointer;
    
    background-color: #dcdcdc ;
    

    font-weight: 500;
    transition: width 0.3s ease-in-out;
  }
li{
  margin: 0px;
  margin-left: 15px;
  padding : 0px;
}

a.nav-link:hover{
background-color: #727e8b;
border-radius: 10px;
margin-right:5px;
}
a:hover{
  background-color: #727e8b;
}
a:focus{
  background-color: #727e8b;
}
.btn:focus{
  box-shadow: none !important;
}
ul{
  padding:0px !important;
}
.content {
  margin-left: 300px;
  margin-right: 35px;
  padding: 20px;
  margin-top: 35px;
 
}
.bor{
  padding: 20px;
  border-radius: 22px;
  background-color: rgba(212, 212, 212, 0.9);
  height: 100vh;
  overflow-y:scroll;
}
.row{
  display: flex;
  
}


.item2 {
  position: absolute;
  top: 0;
  left: 0;
}


svg{
  width: 30px;
  height: 30px;
  margin-top: 20px;
  position: fixed;
  cursor:pointer;
}
svg:hover{
  background-color: #727e8b;
  border-radius:50px;
  padding: 5px;
  border: 5px;
  
}
.p-3 {
  padding: 50px !important;
}
.collapse {
  transition: height 0.3s ease;
}
.input-field {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px;
  border-radius: 0px;
  margin: 0;
}
.input-field:focus{
  border: none;
}
.after{
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-color: #576c84;
  cursor: pointer;
  background-color: #ccc;
}

td{
  padding:2px !important;
}
.cur{
  cursor: pointer;
  background-color: #555;

}


#item1 {
  width: 280px; /* initial width */
  transition: width 0.5s ease-in-out; /* transition on width property */
}
#item1.collapsed {
  width: 0px; /* collapsed width */
}
.item2 {
  position: absolute;
  width: 50px; /* initial width */
  transition: width 0.5s ease-in-out; /* transition on width property */
}
.item2.collapsed {
  width: 0; /* collapsed width */
}
#text.collapsed {
  display: none;
}
#content {
  
  
  transition: margin-left 0.5s ease-in-out; /* transition on margin-left property */
}
#content.collapsed {
  margin-left: 50px; /* move content to the left when collapsed */
}
.item2 button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  
}
.box{
border-radius: 10px;

}
#collapse-btn{
  position:fixed;
}
.bss{
  display: flex;
  justify-items: center;
margin:10px;
  justify-content: space-around;
}
.bss button {
  margin-right: 10px;
  
}
.card {
  box-sizing: border-box;
  width: 500px;
  height: 60px;
  background: rgba(229, 230, 249, 0.58);
  border: 1px solid white;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(3px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

 
 
 
    
    /* Style the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the scrollbar track */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar thumb */
  border-radius: 5px; /* rounded corners of the scrollbar thumb */
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar thumb on hover */
}

.nav-link{
  color: #444 !important;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  
}







/* form container */
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* form labels */
.form-container label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #444;
}

/* form inputs */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container input[type="password"],
.form-container input[type="time"],
.form-container select,
.form-container textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
  background-color: #f4f4f4;
  color: #444;
  margin-bottom: 20px;
}

/* form input focus */
.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="number"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="time"]:focus,
.form-container select:focus,
.form-container textarea:focus {
  outline: none;
  border-color: #576c84;
  box-shadow: 0px 0px 5px rgba(87, 108, 132, 0.5);
}

/* form button */
.form-container button[type="submit"], .form-container .st {
  background-color: #576c84;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* form button hover */
.form-container button[type="submit"]:hover, .form-container .st:hover {
  background-color: #727e8b;
}

.table {
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* table header */
.table th {
  font-weight: bold;
  text-align: left;
  padding: 10px;
  background-color: #576c84 !important;
  color: #fff !important;
}

/* table rows */
.table tr:nth-child(even) {
  background-color: #f4f4f4 !important;
}

/* table cells */
.table td {
  padding: 10px;
  border: 1px solid #ccc;
}
/* table buttons */
.table button {
  background-color: #727e8b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  }
  
  /* table button hover */
  .table button:hover {
  background-color: #576c84;
  }
 
  .btn-toggle {
    background-color: #6da34d;
    border-color: #6da34d;
  }
  
  .btn-toggle:hover {
    background-color: #8ec465;
    border-color: #8ec465;
  }
  
  .btn-toggle:focus {
    box-shadow: none;
  }
  .table th:hover {
    background-color: #7589a0 !important;
    cursor: pointer;
  }
  .table tr:hover {
    background-color: #dee1e4 !important;
    cursor: pointer;
  }
  