ul {
    list-style-type: none;
   
}
.search-box {
    position: absolute;
    top: 35%;
    left: 50%;
    
    padding: 30px;
    margin: 50px ;
    transform: translate(-50%, -55%);
    background: #867070;
    box-sizing: border-box;
    box-shadow: 0 15px 25px #b09a9a;
    border-radius: 10px;
    
  }
 
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  select,
  textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
  }

  button[type="submit"] {
    background-color: #D5B4B4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  button[type="submit"]:hover {
    background-color: #867070;
  }
  .b{
    background-color: #D5B4B4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    margin:20px;
    width: 200px;
  }
  .b:hover {
    background-color: #867070;
  }
.table{

font-size: x-small;
  }
  .col-md-8{
    text-align: center;
    display: block;
    

  }
  .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }
  .c{
    height: 100vh;
    background-color: #867070;
    width: 280px;
    font-size: larger;
    padding-top: 50px;
    position: fixed;
  }
li{
  margin: 0px;
  margin-left: 25px;
  padding : 0px;
}
.btn:focus{
  box-shadow: none !important;
}
ul{
  padding:0px !important;
}
.content {
  margin-left: 300px;
  padding: 20px;
}
.row{
  display: flex;
  flex-direction: row;
}
.item2 {
  position: absolute;
  top: 0;
  left: 0;
}

.item1.collapsed ~ .item2 {
  position: static;
  margin-left: auto;
  
}
svg{
  width: 50px;
  height: 50px;
}
.p-3 {
  padding: 50px !important;
}
.collapse {
  transition: height 0.3s ease;
}
.input-field {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 4px;
  border-radius: 0px;
}

